<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find bo_ur5e)/urdf/ur5e_af85.urdf.xacro'" />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find bo_ur5e)/urdf/ur5e_af85.urdf.xacro'" />
</launch>
